@charset "UTF-8";
/*按钮组件*/
.btn_common { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; }

.btn_arc { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-radius: 5px; }

.btn_left_arc { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

.btn_right_arc { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }

.btn_round { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-radius: 50px; }

.btn_w_common { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; display: block; width: 100%; margin: 5px 0; }

.btn_w_arc { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-radius: 5px; display: block; width: 100%; margin: 5px 0; }

.btn_w_left_arc { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-top-left-radius: 5px; border-bottom-left-radius: 5px; display: block; width: 100%; margin: 5px 0; }

.btn_w_right_arc { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-top-right-radius: 5px; border-bottom-right-radius: 5px; display: block; width: 100%; margin: 5px 0; }

.btn_w_round { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-radius: 50px; display: block; width: 100%; margin: 5px 0; }

.btn_solid_common { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; }

.btn_dashed_common { border: 1px dashed #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; }

.btn_grow { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform; }
.btn_grow:hover, .btn_grow:focus, .btn_grow:active { -webkit-transform: scale(1.1); transform: scale(1.1); }

.btn_shrink { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform; }
.btn_shrink:hover, .btn_shrink:focus, .btn_shrink:active { -webkit-transform: scale(0.9); transform: scale(0.9); }

@-webkit-keyframes btn_pop { 50% { -webkit-transform: scale(1.2); transform: scale(1.2); } }
@keyframes btn_pop { 50% { -webkit-transform: scale(1.2); transform: scale(1.2); } }
.btn_pop { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
.btn_pop:hover, .btn_pop:focus, .btn_pop:active { -webkit-animation-name: btn_pop; animation-name: btn_pop; -webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; }

@-webkit-keyframes btn_bob { 0% { -webkit-transform: translateY(-8px); transform: translateY(-8px); }
  50% { -webkit-transform: translateY(-4px); transform: translateY(-4px); }
  100% { -webkit-transform: translateY(-8px); transform: translateY(-8px); } }
@keyframes btn_bob { 0% { -webkit-transform: translateY(-8px); transform: translateY(-8px); }
  50% { -webkit-transform: translateY(-4px); transform: translateY(-4px); }
  100% { -webkit-transform: translateY(-8px); transform: translateY(-8px); } }
@-webkit-keyframes btn_bob-float { 100% { -webkit-transform: translateY(-8px); transform: translateY(-8px); } }
@keyframes btn_bob-float { 100% { -webkit-transform: translateY(-8px); transform: translateY(-8px); } }
.btn_bob { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
.btn_bob:hover, .btn_bob:focus, .btn_bob:active { -webkit-animation-name: btn_bob-float, btn_bob; animation-name: btn_bob-float, btn_bob; -webkit-animation-duration: .3s, 1.5s; animation-duration: .3s, 1.5s; -webkit-animation-delay: 0s, .3s; animation-delay: 0s, .3s; -webkit-animation-timing-function: ease-out, ease-in-out; animation-timing-function: ease-out, ease-in-out; -webkit-animation-iteration-count: 1, infinite; animation-iteration-count: 1, infinite; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-direction: normal, alternate; animation-direction: normal, alternate; }

@-webkit-keyframes btn_buzz { 10% { -webkit-transform: translateX(3px) rotate(2deg); transform: translateX(3px) rotate(2deg); }
  20% { -webkit-transform: translateX(-3px) rotate(-2deg); transform: translateX(-3px) rotate(-2deg); }
  30% { -webkit-transform: translateX(3px) rotate(2deg); transform: translateX(3px) rotate(2deg); }
  40% { -webkit-transform: translateX(-3px) rotate(-2deg); transform: translateX(-3px) rotate(-2deg); }
  50% { -webkit-transform: translateX(2px) rotate(1deg); transform: translateX(2px) rotate(1deg); }
  60% { -webkit-transform: translateX(-2px) rotate(-1deg); transform: translateX(-2px) rotate(-1deg); }
  70% { -webkit-transform: translateX(2px) rotate(1deg); transform: translateX(2px) rotate(1deg); }
  80% { -webkit-transform: translateX(-2px) rotate(-1deg); transform: translateX(-2px) rotate(-1deg); }
  90% { -webkit-transform: translateX(1px) rotate(0); transform: translateX(1px) rotate(0); }
  100% { -webkit-transform: translateX(-1px) rotate(0); transform: translateX(-1px) rotate(0); } }
@keyframes btn_buzz { 10% { -webkit-transform: translateX(3px) rotate(2deg); transform: translateX(3px) rotate(2deg); }
  20% { -webkit-transform: translateX(-3px) rotate(-2deg); transform: translateX(-3px) rotate(-2deg); }
  30% { -webkit-transform: translateX(3px) rotate(2deg); transform: translateX(3px) rotate(2deg); }
  40% { -webkit-transform: translateX(-3px) rotate(-2deg); transform: translateX(-3px) rotate(-2deg); }
  50% { -webkit-transform: translateX(2px) rotate(1deg); transform: translateX(2px) rotate(1deg); }
  60% { -webkit-transform: translateX(-2px) rotate(-1deg); transform: translateX(-2px) rotate(-1deg); }
  70% { -webkit-transform: translateX(2px) rotate(1deg); transform: translateX(2px) rotate(1deg); }
  80% { -webkit-transform: translateX(-2px) rotate(-1deg); transform: translateX(-2px) rotate(-1deg); }
  90% { -webkit-transform: translateX(1px) rotate(0); transform: translateX(1px) rotate(0); }
  100% { -webkit-transform: translateX(-1px) rotate(0); transform: translateX(-1px) rotate(0); } }
.btn_buzz { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
.btn_buzz:hover, .btn_buzz:focus, .btn_buzz:active { -webkit-animation-name: btn_buzz; animation-name: btn_buzz; -webkit-animation-duration: 0.75s; animation-duration: 0.75s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; }

.btn_point { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; position: relative; }
.btn_point span { position: absolute; background-color: #ffffff; border: 1px solid #FF6666; width: 20px; height: 20px; border-radius: 20px; font-size: 12px; color: #FF6666; top: -10px; right: -10px; }

.btn_w_point { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; position: relative; }
.btn_w_point span { position: absolute; background-color: #FF6666; width: 20px; height: 20px; border-radius: 20px; font-size: 12px; color: #ffffff; top: -10px; right: -10px; }

/*输入框组件*/
.input_common { border: 1px solid #e5e5e5; padding: 8px; color: #333333; }

.input_number { border: 1px solid #e3e3e3; display: inline-block; text-align: center; }
.input_number .num_reduce { width: 24px; height: 28px; display: block; background: #fff; float: left; }
.input_number .num_reduce span { background: url(../images/shopping_cart.png) no-repeat -40px -22px; display: block; width: 6px; height: 2px; margin: 13px auto 0 auto; }
.input_number .num_input { background: #f4f4f4; width: 42px; height: 28px; line-height: 28px; border: none; text-align: center; }
.input_number .num_add { width: 24px; height: 28px; display: block; background: #fff; float: right; }
.input_number .num_add span { background: url(../images/shopping_cart.png) no-repeat -60px -22px; display: block; width: 8px; height: 8px; margin: 10px auto 0 auto; }

.input_file { width: 250px; height: 35px; position: relative; }
.input_file input { border: 1px solid #e5e5e5; padding: 8px; color: #333333; }
.input_file input[type="text"] { position: absolute; width: 100%; bottom: 0; top: 0; left: 0; right: 0; z-index: 1; }
.input_file input[type="file"] { position: absolute; width: 100%; bottom: 0; top: 0; left: 0; right: 0; z-index: 2; opacity: 0; }

.input_img { border: 1px solid #e5e5e5; padding: 8px; text-align: center; position: relative; display: inline-block; }
.input_img img { height: 150px; }
.input_img input[type="file"] { position: absolute; width: 100%; bottom: 0; top: 0; left: 0; right: 0; z-index: 2; opacity: 0; cursor: pointer; }

.input_tree { position: relative; }
.input_tree:hover .ul_tree { display: block; }
.input_tree .input_common { border: 1px solid #e5e5e5; padding: 8px; color: #333333; width: 100%; }
.input_tree .ul_tree { display: none; position: absolute; top: 35px; left: 0; right: 0; z-index: 99; /* ruler */ }
.input_tree .ul_tree input.radio { margin: 0 2px 0 8px; }
.input_tree .ul_tree input.radio.first { margin-left: 0; }
.input_tree .ul_tree input.empty { color: lightgray; }
.input_tree .ul_tree code { color: #2f332a; }
.input_tree .ul_tree .highlight_red { color: #A60000; }
.input_tree .ul_tree .highlight_green { color: #A7F43D; }
.input_tree .ul_tree li { list-style: none; font-size: 12px; }
.input_tree .ul_tree li.title { list-style: none; }
.input_tree .ul_tree ul.list { margin-left: 17px; }
.input_tree .ul_tree div.content_wrap { width: 600px; height: 380px; }
.input_tree .ul_tree div.content_wrap div.left { float: left; width: 250px; }
.input_tree .ul_tree div.content_wrap div.right { float: right; width: 340px; }
.input_tree .ul_tree div.zTreeDemoBackground { width: 250px; height: 362px; text-align: left; }
.input_tree .ul_tree ul.ztree { border: 1px solid #e5e5e5; background: #ffffff; width: 100%; height: 360px; overflow-y: scroll; overflow-x: auto; }
.input_tree .ul_tree ul.log { border: 1px solid #e5e5e5; background: #ffffff; width: 300px; height: 170px; overflow: hidden; }
.input_tree .ul_tree ul.log.small { height: 45px; }
.input_tree .ul_tree ul.log li { color: #666666; list-style: none; padding-left: 10px; }
.input_tree .ul_tree ul.log li.dark { background-color: #E3E3E3; }
.input_tree .ul_tree div.ruler { height: 20px; width: 220px; background-color: #ffffff; border: 1px solid #333; margin-bottom: 5px; cursor: pointer; }
.input_tree .ul_tree div.ruler div.cursor { height: 20px; width: 30px; background-color: #3C6E31; color: white; text-align: right; padding-right: 5px; cursor: pointer; }

/*# sourceMappingURL=index.css.map */
