@charset "UTF-8";
/*按钮组件*/
.btn_common { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; }

.btn_arc { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-radius: 5px; }

.btn_left_arc { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }

.btn_right_arc { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }

.btn_round { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-radius: 50px; }

.btn_w_common { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; display: block; width: 100%; margin: 5px 0; }

.btn_w_arc { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-radius: 5px; display: block; width: 100%; margin: 5px 0; }

.btn_w_left_arc { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-top-left-radius: 5px; border-bottom-left-radius: 5px; display: block; width: 100%; margin: 5px 0; }

.btn_w_right_arc { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-top-right-radius: 5px; border-bottom-right-radius: 5px; display: block; width: 100%; margin: 5px 0; }

.btn_w_round { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; border-radius: 50px; display: block; width: 100%; margin: 5px 0; }

.btn_solid_common { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; }

.btn_dashed_common { border: 1px dashed #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; }

.btn_grow { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform; }
.btn_grow:hover, .btn_grow:focus, .btn_grow:active { -webkit-transform: scale(1.1); transform: scale(1.1); }

.btn_shrink { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform; }
.btn_shrink:hover, .btn_shrink:focus, .btn_shrink:active { -webkit-transform: scale(0.9); transform: scale(0.9); }

@-webkit-keyframes btn_pop { 50% { -webkit-transform: scale(1.2); transform: scale(1.2); } }
@keyframes btn_pop { 50% { -webkit-transform: scale(1.2); transform: scale(1.2); } }
.btn_pop { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
.btn_pop:hover, .btn_pop:focus, .btn_pop:active { -webkit-animation-name: btn_pop; animation-name: btn_pop; -webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; }

@-webkit-keyframes btn_bob { 0% { -webkit-transform: translateY(-8px); transform: translateY(-8px); }
  50% { -webkit-transform: translateY(-4px); transform: translateY(-4px); }
  100% { -webkit-transform: translateY(-8px); transform: translateY(-8px); } }
@keyframes btn_bob { 0% { -webkit-transform: translateY(-8px); transform: translateY(-8px); }
  50% { -webkit-transform: translateY(-4px); transform: translateY(-4px); }
  100% { -webkit-transform: translateY(-8px); transform: translateY(-8px); } }
@-webkit-keyframes btn_bob-float { 100% { -webkit-transform: translateY(-8px); transform: translateY(-8px); } }
@keyframes btn_bob-float { 100% { -webkit-transform: translateY(-8px); transform: translateY(-8px); } }
.btn_bob { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
.btn_bob:hover, .btn_bob:focus, .btn_bob:active { -webkit-animation-name: btn_bob-float, btn_bob; animation-name: btn_bob-float, btn_bob; -webkit-animation-duration: .3s, 1.5s; animation-duration: .3s, 1.5s; -webkit-animation-delay: 0s, .3s; animation-delay: 0s, .3s; -webkit-animation-timing-function: ease-out, ease-in-out; animation-timing-function: ease-out, ease-in-out; -webkit-animation-iteration-count: 1, infinite; animation-iteration-count: 1, infinite; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-direction: normal, alternate; animation-direction: normal, alternate; }

@-webkit-keyframes btn_buzz { 10% { -webkit-transform: translateX(3px) rotate(2deg); transform: translateX(3px) rotate(2deg); }
  20% { -webkit-transform: translateX(-3px) rotate(-2deg); transform: translateX(-3px) rotate(-2deg); }
  30% { -webkit-transform: translateX(3px) rotate(2deg); transform: translateX(3px) rotate(2deg); }
  40% { -webkit-transform: translateX(-3px) rotate(-2deg); transform: translateX(-3px) rotate(-2deg); }
  50% { -webkit-transform: translateX(2px) rotate(1deg); transform: translateX(2px) rotate(1deg); }
  60% { -webkit-transform: translateX(-2px) rotate(-1deg); transform: translateX(-2px) rotate(-1deg); }
  70% { -webkit-transform: translateX(2px) rotate(1deg); transform: translateX(2px) rotate(1deg); }
  80% { -webkit-transform: translateX(-2px) rotate(-1deg); transform: translateX(-2px) rotate(-1deg); }
  90% { -webkit-transform: translateX(1px) rotate(0); transform: translateX(1px) rotate(0); }
  100% { -webkit-transform: translateX(-1px) rotate(0); transform: translateX(-1px) rotate(0); } }
@keyframes btn_buzz { 10% { -webkit-transform: translateX(3px) rotate(2deg); transform: translateX(3px) rotate(2deg); }
  20% { -webkit-transform: translateX(-3px) rotate(-2deg); transform: translateX(-3px) rotate(-2deg); }
  30% { -webkit-transform: translateX(3px) rotate(2deg); transform: translateX(3px) rotate(2deg); }
  40% { -webkit-transform: translateX(-3px) rotate(-2deg); transform: translateX(-3px) rotate(-2deg); }
  50% { -webkit-transform: translateX(2px) rotate(1deg); transform: translateX(2px) rotate(1deg); }
  60% { -webkit-transform: translateX(-2px) rotate(-1deg); transform: translateX(-2px) rotate(-1deg); }
  70% { -webkit-transform: translateX(2px) rotate(1deg); transform: translateX(2px) rotate(1deg); }
  80% { -webkit-transform: translateX(-2px) rotate(-1deg); transform: translateX(-2px) rotate(-1deg); }
  90% { -webkit-transform: translateX(1px) rotate(0); transform: translateX(1px) rotate(0); }
  100% { -webkit-transform: translateX(-1px) rotate(0); transform: translateX(-1px) rotate(0); } }
.btn_buzz { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); }
.btn_buzz:hover, .btn_buzz:focus, .btn_buzz:active { -webkit-animation-name: btn_buzz; animation-name: btn_buzz; -webkit-animation-duration: 0.75s; animation-duration: 0.75s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; }

.btn_point { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; position: relative; }
.btn_point span { position: absolute; background-color: #ffffff; border: 1px solid #FF6666; width: 20px; height: 20px; border-radius: 20px; font-size: 12px; color: #FF6666; top: -10px; right: -10px; }

.btn_w_point { border: 1px solid #FF6666; padding: 10px 20px; color: #FF6666; background-color: transparent; position: relative; }
.btn_w_point span { position: absolute; background-color: #FF6666; width: 20px; height: 20px; border-radius: 20px; font-size: 12px; color: #ffffff; top: -10px; right: -10px; }

/*输入框组件*/
.input_common { border: 1px solid #e5e5e5; padding: 8px; color: #333333; }

.input_number { border: 1px solid #e3e3e3; display: inline-block; text-align: center; }
.input_number .num_reduce { width: 24px; height: 28px; display: block; background: #fff; float: left; }
.input_number .num_reduce span { background: url(../images/shopping_cart.png) no-repeat -40px -22px; display: block; width: 6px; height: 2px; margin: 13px auto 0 auto; }
.input_number .num_input { background: #f4f4f4; width: 42px; height: 28px; line-height: 28px; border: none; text-align: center; }
.input_number .num_add { width: 24px; height: 28px; display: block; background: #fff; float: right; }
.input_number .num_add span { background: url(../images/shopping_cart.png) no-repeat -60px -22px; display: block; width: 8px; height: 8px; margin: 10px auto 0 auto; }

.input_file { width: 250px; height: 35px; position: relative; }
.input_file input { border: 1px solid #e5e5e5; padding: 8px; color: #333333; }
.input_file input[type="text"] { position: absolute; width: 100%; bottom: 0; top: 0; left: 0; right: 0; z-index: 1; }
.input_file input[type="file"] { position: absolute; width: 100%; bottom: 0; top: 0; left: 0; right: 0; z-index: 2; opacity: 0; }

.input_img { border: 1px solid #e5e5e5; padding: 8px; text-align: center; position: relative; display: inline-block; }
.input_img img { height: 150px; }
.input_img input[type="file"] { position: absolute; width: 100%; bottom: 0; top: 0; left: 0; right: 0; z-index: 2; opacity: 0; cursor: pointer; }

.input_tree { position: relative; }
.input_tree:hover .ul_tree { display: block; }
.input_tree .input_common { border: 1px solid #e5e5e5; padding: 8px; color: #333333; width: 100%; }
.input_tree .ul_tree { display: none; position: absolute; top: 35px; left: 0; right: 0; z-index: 99; /* ruler */ }
.input_tree .ul_tree input.radio { margin: 0 2px 0 8px; }
.input_tree .ul_tree input.radio.first { margin-left: 0; }
.input_tree .ul_tree input.empty { color: lightgray; }
.input_tree .ul_tree code { color: #2f332a; }
.input_tree .ul_tree .highlight_red { color: #A60000; }
.input_tree .ul_tree .highlight_green { color: #A7F43D; }
.input_tree .ul_tree li { list-style: none; font-size: 12px; }
.input_tree .ul_tree li.title { list-style: none; }
.input_tree .ul_tree ul.list { margin-left: 17px; }
.input_tree .ul_tree div.content_wrap { width: 600px; height: 380px; }
.input_tree .ul_tree div.content_wrap div.left { float: left; width: 250px; }
.input_tree .ul_tree div.content_wrap div.right { float: right; width: 340px; }
.input_tree .ul_tree div.zTreeDemoBackground { width: 250px; height: 362px; text-align: left; }
.input_tree .ul_tree ul.ztree { border: 1px solid #e5e5e5; background: #ffffff; width: 100%; height: 360px; overflow-y: scroll; overflow-x: auto; }
.input_tree .ul_tree ul.log { border: 1px solid #e5e5e5; background: #ffffff; width: 300px; height: 170px; overflow: hidden; }
.input_tree .ul_tree ul.log.small { height: 45px; }
.input_tree .ul_tree ul.log li { color: #666666; list-style: none; padding-left: 10px; }
.input_tree .ul_tree ul.log li.dark { background-color: #E3E3E3; }
.input_tree .ul_tree div.ruler { height: 20px; width: 220px; background-color: #ffffff; border: 1px solid #333; margin-bottom: 5px; cursor: pointer; }
.input_tree .ul_tree div.ruler div.cursor { height: 20px; width: 30px; background-color: #3C6E31; color: white; text-align: right; padding-right: 5px; cursor: pointer; }

/*功能组件*/
.top_nav_common { background-color: #ffffff; line-height: 50px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); font-size: 20px; display: block; font-weight: bold; }
.top_nav_common:hover { text-decoration: none; }
.top_nav_common span { padding: 15px; font-size: 20px; font-weight: bold; font-family: '宋体'; text-decoration: none; }

.form_h_common .button_nav { display: inline-block; }
.form_h_common .tr { text-align: right; float: right; }
.form_h_common .tl { text-align: left; }
.form_h_common .input_common { border: 1px solid #e5e5e5; padding: 8px; color: #333333; }
.form_h_common .btn_common { border: 0; padding: 9px 20px; color: #ffffff; background-color: #339933; position: relative; }
.form_h_common .nav_btn { border: 1px solid #dddddd; color: #353535; background-color: #FFFFFF; }
.form_h_common .span_danger { position: absolute; width: 20px; height: 20px; border-radius: 20px; text-align: center; line-height: 20px; top: -8px; right: -8px; font-size: 12px; font-weight: normal; z-index: 7; color: #ffffff; background-color: #ea644a; }
.form_h_common .active { background-color: #3280fc; color: #ffffff; border: 1px solid #3280fc; }

.form_z_common .input_item { margin: 10px 0; }
.form_z_common .input_item .input_left { display: inline-block; font-size: 14px; color: #999; text-align: right; vertical-align: top; }
.form_z_common .input_item .input_left span { color: #ff0000; vertical-align: middle; margin-right: 2px; }
.form_z_common .input_item .input_common { border: 1px solid #e5e5e5; padding: 8px; color: #333333; width: 100%; }
.form_z_common .input_item .input_list { display: inline-block; }
.form_z_common .input_item .input_time input { width: 48%; display: inline-block; }
.form_z_common .l_4 .input_left { width: 100px; line-height: 30px; }
.form_z_common .l_4 .input_list { width: calc(100% - 105px); }
.form_z_common .l_6 .input_left { width: 120px; line-height: 30px; }
.form_z_common .l_6 .input_list { width: calc(100% - 125px); }
.form_z_common .l_8 .input_left { width: 140px; line-height: 30px; }
.form_z_common .l_8 .input_list { width: calc(100% - 145px); }
.form_z_common .btn_common { border: 0; padding: 10px 20px; color: #ffffff; background-color: #FF6666; }
.form_z_common .color_01 { background-color: #FF9900; }
.form_z_common .color_02 { background-color: #339933; }

/*块状内容*/
.module_common { display: flex; margin: 20px 0; text-align: center; }
.module_common .tab_item { flex: 1; }
.module_common .tab_item p { font-size: 16px; color: #999999; }
.module_common .tab_item strong { font-size: 40px; color: #339933; }

.module_tab_common { margin-bottom: 20px; }
.module_tab_common .tab_item { border: 1px solid #e5e5e5; border-radius: 1px; padding: 15px; margin: 10px 0; display: block; }
.module_tab_common .tab_item h3 { font-size: 18px; line-height: 18px; margin-bottom: 15px; font-weight: bold; }
.module_tab_common .tab_item h3 span { font-weight: normal; font-size: 14px; color: #A6D5A6; float: right; }
.module_tab_common .btn_list { display: flex; margin: 10px -5px -5px; }
.module_tab_common .btn_list button { border: 0; flex: 1; width: 100%; padding: 5px 10px; color: #ffffff; }
.module_tab_common .btn_list button:nth-child(1) { background-color: #FF6666; }
.module_tab_common .btn_list button:nth-child(2) { background-color: #339933; }
.module_tab_common .btn_list button:nth-child(3) { background-color: #0a67fb; }
.module_tab_common .btn_list button:nth-child(4) { background-color: #FF9966; }
.module_tab_common .btn_list button:nth-child(5) { background-color: #0066CC; }
.module_tab_common .p_text_dl .left_text { width: 65px; display: inline-block; vertical-align: top; }
.module_tab_common .p_text_dl .right_text { width: calc(100% - 70px); display: inline-block; line-height: 20px; }
.module_tab_common .p_text_dl .strong_danger { color: #da2b28; font-weight: bold; }

/*步骤条*/
.strp_bar_common { margin-top: 30px; margin-bottom: 30px; overflow: hidden; display: flex; }
.strp_bar_common .bar_item { flex: 1; color: #999999; text-decoration: none; position: relative; text-align: center; }
.strp_bar_common .bar_item .bar_frbg { height: 6px; width: 50%; background-color: #e4e1eb; position: absolute; right: 0; top: 5px; }
.strp_bar_common .bar_item .bar_flbg { height: 6px; width: 50%; background-color: #e4e1eb; position: absolute; left: 0; top: 5px; }
.strp_bar_common .bar_item em { width: 10px; height: 10px; background: #e4e1eb; position: absolute; left: 50%; margin-left: -5px; border-radius: 5px; top: 3px; z-index: 2; }
.strp_bar_common .bar_item i { width: 16px; height: 16px; background: #e4e1eb; position: absolute; left: 50%; margin-left: -8px; border-radius: 8px; top: 0; }
.strp_bar_common .bar_item h4 { font-size: 16px; line-height: 24px; margin-top: 30px; margin-bottom: 0; font-weight: normal; }
.strp_bar_common .bar_item p { font-size: 12px; }
.strp_bar_common .bar_item.cur { color: #4867cc; }
.strp_bar_common .bar_item.cur .hr-fl { background: -webkit-linear-gradient(left, #4867cb, #a5777b); background: -ms-linear-gradient(left, #4867cb, #a5777b); background: -o-linear-gradient(left, #4867cb, #a5777b); background: -moz-linear-gradient(left, #4867cb, #a5777b); background: linear-gradient(to left, #4867cb, #a5777b); filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #4867cb, endColorstr = #a5777b); }
.strp_bar_common .bar_item.cur .hr-fr { background: -webkit-linear-gradient(left, #4867cb, #a5777b); background: -ms-linear-gradient(left, #4867cb, #a5777b); background: -o-linear-gradient(left, #4867cb, #a5777b); background: -moz-linear-gradient(left, #4867cb, #a5777b); background: linear-gradient(to left, #4867cb, #a5777b); filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #4867cb, endColorstr = #a5777b); }
.strp_bar_common .bar_item.cur em { background: #4867cc; }
.strp_bar_common .bar_item.state { color: #ff872f; }
.strp_bar_common .bar_item.state h4 { font-weight: bold; }
.strp_bar_common .bar_item.state em { background: #ff872f; }
.strp_bar_common .bar_item.state .hr-fl { background: -webkit-linear-gradient(left, #a5777b, #ff872f); background: -ms-linear-gradient(left, #a5777b, #ff872f); background: -o-linear-gradient(left, #a5777b, #ff872f); background: -moz-linear-gradient(left, #a5777b, #ff872f); background: linear-gradient(to left, #a5777b, #ff872f); filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #a5777b, endColorstr = #ff872f); }
.strp_bar_common .bar_item.state .hr-fr { background: -webkit-linear-gradient(left, #a5777b, #ff872f); background: -ms-linear-gradient(left, #a5777b, #ff872f); background: -o-linear-gradient(left, #a5777b, #ff872f); background: -moz-linear-gradient(left, #a5777b, #ff872f); background: linear-gradient(to left, #a5777b, #ff872f); filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #a5777b, endColorstr = #ff872f); }
.strp_bar_common .adopt .hr-fr { background: #4867cb; }
.strp_bar_common .hr-fr { height: 2px; width: 50%; background-color: #e4e1eb; position: absolute; right: 0; top: 7px; }
.strp_bar_common .hr-fl { height: 2px; width: 50%; background-color: #e4e1eb; position: absolute; left: 0; top: 7px; }

.strp_bar_number_common { margin-top: 30px; margin-bottom: 30px; overflow: hidden; display: flex; }
.strp_bar_number_common .bar_item { flex: 1; color: #999999; text-decoration: none; position: relative; text-align: center; }
.strp_bar_number_common .bar_item .bar_frbg { height: 6px; width: 50%; background-color: #e4e1eb; position: absolute; right: 0; top: 11px; }
.strp_bar_number_common .bar_item .bar_flbg { height: 6px; width: 50%; background-color: #e4e1eb; position: absolute; left: 0; top: 11px; }
.strp_bar_number_common .bar_item em { width: 20px; height: 20px; background: #e4e1eb; position: absolute; left: 50%; margin-left: -5px; border-radius: 20px; color: #fff; top: 3px; z-index: 2; }
.strp_bar_number_common .bar_item i { width: 26px; height: 26px; background: #e4e1eb; position: absolute; left: 50%; margin-left: -8px; border-radius: 28px; top: 0; }
.strp_bar_number_common .bar_item h4 { font-size: 16px; line-height: 24px; margin-top: 30px; margin-bottom: 0; font-weight: normal; }
.strp_bar_number_common .bar_item p { font-size: 12px; }
.strp_bar_number_common .bar_item.cur { color: #4867cc; }
.strp_bar_number_common .bar_item.cur .hr-fl { background: -webkit-linear-gradient(left, #4867cb, #a5777b); background: -ms-linear-gradient(left, #4867cb, #a5777b); background: -o-linear-gradient(left, #4867cb, #a5777b); background: -moz-linear-gradient(left, #4867cb, #a5777b); background: linear-gradient(to left, #4867cb, #a5777b); filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #4867cb, endColorstr = #a5777b); }
.strp_bar_number_common .bar_item.cur .hr-fr { background: -webkit-linear-gradient(left, #4867cb, #a5777b); background: -ms-linear-gradient(left, #4867cb, #a5777b); background: -o-linear-gradient(left, #4867cb, #a5777b); background: -moz-linear-gradient(left, #4867cb, #a5777b); background: linear-gradient(to left, #4867cb, #a5777b); filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #4867cb, endColorstr = #a5777b); }
.strp_bar_number_common .bar_item.cur em { background: #4867cc; }
.strp_bar_number_common .bar_item.state { color: #ff872f; }
.strp_bar_number_common .bar_item.state h4 { font-weight: bold; }
.strp_bar_number_common .bar_item.state em { background: #ff872f; }
.strp_bar_number_common .bar_item.state .hr-fl { background: -webkit-linear-gradient(left, #a5777b, #ff872f); background: -ms-linear-gradient(left, #a5777b, #ff872f); background: -o-linear-gradient(left, #a5777b, #ff872f); background: -moz-linear-gradient(left, #a5777b, #ff872f); background: linear-gradient(to left, #a5777b, #ff872f); filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #a5777b, endColorstr = #ff872f); }
.strp_bar_number_common .bar_item.state .hr-fr { background: -webkit-linear-gradient(left, #a5777b, #ff872f); background: -ms-linear-gradient(left, #a5777b, #ff872f); background: -o-linear-gradient(left, #a5777b, #ff872f); background: -moz-linear-gradient(left, #a5777b, #ff872f); background: linear-gradient(to left, #a5777b, #ff872f); filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #a5777b, endColorstr = #ff872f); }
.strp_bar_number_common .adopt .hr-fr { background: #4867cb; }
.strp_bar_number_common .hr-fr { height: 2px; width: 50%; background-color: #e4e1eb; position: absolute; right: 0; top: 13px; }
.strp_bar_number_common .hr-fl { height: 2px; width: 50%; background-color: #e4e1eb; position: absolute; left: 0; top: 13px; }

/*分页*/
.page_nav ul { display: inline-block; padding-left: 0; margin: 20px 0; list-style: none; }
.page_nav ul li { display: inline; }
.page_nav ul li:first-child a, .page_nav ul li:first-child span { margin-left: 0; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.page_nav ul li:last-child a, .page_nav ul li:last-child span { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.page_nav ul li a, .page_nav ul li span { position: relative; float: left; padding: 5px 12px; margin-left: -1px; line-height: 1.53846154; text-decoration: none; background-color: #fff; border: 1px solid #ddd; }
.page_nav ul li a:hover, .page_nav ul li a:focus, .page_nav ul li span:hover, .page_nav ul li span:focus { z-index: 2; background-color: #e5e5e5; }
.page_nav ul li.active a, .page_nav ul li.active span { z-index: 3; color: #fff; cursor: default; background-color: #3280fc; border-color: #3280fc; }
.page_nav ul li.active a:hover, .page_nav ul li.active span:hover { z-index: 3; color: #fff; cursor: default; background-color: #3280fc; border-color: #3280fc; }
.page_nav ul .input_sup { width: 100px; float: left; margin-left: 10px; }
.page_nav ul .input_sup .btn_common { border: 0; color: #ffffff; background-color: #FF6666; float: left; padding: 8px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.page_nav ul .input_sup .input_common { border: 1px solid #e5e5e5; padding: 7px; color: #333333; width: 50px; float: left; }

/*# sourceMappingURL=index.css.map */
