/*引入自己的样式库*/
@import "index.css";

/*======================================================
*@author wf_Huang
*@Time 2018/11/20 8:51
*=======================================================
*@样式初始化文件   包含说有的初始化微调代码
*=====================================================*/


/*初始化代码*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

/*预设颜色库*/
.c_01{color: #FF6666}
.c_02{color: #FFFF00}
.c_03{color: #0a67fb;}
.c_04{color: #FF9966;}
.c_05{color: #0066CC;}
.c_06{color: #339933;}
.c_07{color: #FFCC33;}
.c_08{color: #336699;}
.c_09{color: #FF9900;}
.c_10{color: #FFFFCC;}
.c_11{color: #336699;}


